<div class="text-center confirmation">
    <img src="/public/img/pogger.webp" class="m-2 img-fluid">
    <p class="confirmation-message">Vaše geslo je ponastavljeno</p>
    <p>Nazaj na <a class="text-light" href="/prijava">prijavo</a>.</p>
</div>