 <div class="row m-0 mt-2">
          {{>sidebar}}
        <main class="col-sm-12 col-md-9 mt-3">
            <div class="content bg-dark p-3">
                <h2 class="formtitle">Statistike</h2>
                {{#each chartData as |data|}}
                    <div class="col-md-12">
                        <h3 class="formtitle">{{data.naslovGrafa}}</h3>
                        <canvas id="{{data.id}}" width="auto" height="auto"></canvas>
                    </div>
                {{/each}}
            </div>
        </main>
      </div>
    <script src="/public/js/Chart.min.js"></script>
    <script src="/public/js/chart.js"></script>